.marco-result{
  h1 {
    font-family: $resBold;
    font-size: 57px;
  }

  &__destaque {
    .linha-fina {
      font-family: $resReg;
      font-size: 21px;
      line-height: 125%;
    }

    .imagem {
      height: 570px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.listagem {
  &__int {
    margin-left: -30px !important;
    margin-right: -30px !important;

    .listagem-post {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 60px;

      .titulo {
        font-family: $resMed;
        font-size: 21px;
        line-height: 125%;
        display: block;
      }
    }
  }
}