.marco-result{
  h1 {
    font-family: $resBold;
    font-size: 32px;

    @media (min-width: 768px) {
      font-size: 57px;
    }
  }

  &__destaque {
    .linha-fina {
      font-family: $resReg;
      font-size: 16px;
      line-height: 125%;

      @media (min-width: 768px) {
        font-size: 21px;
      }

      &:hover {
        color: #000;
      }
    }

    .imagem {
      height: 310px;

      @media (max-width: 768px) {
        transform: translateX(-12px);
        width: calc(100% + 24px);
      }

      @media (min-width: 768px) {
        height: 570px;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .detalhe {
    a,span {
      &:hover {
        color: #000;
      }
    }
  }

  .tituloGrande {
    &:hover {
      color: #000;
    }
  }
}

.listagem {
  &__int {
    margin-left: -30px !important;
    margin-right: -30px !important;

    .listagem-post {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 50px;

      @media (min-width: 768px) {
        margin-bottom: 80px;
      }

      .titulo {
        font-family: $resMed;
        font-size: 18px;
        line-height: 125%;
        display: block;
        width: 85%;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

//home de videos
.marco-videos {
  header {
    background: var(--bg-color) !important;
    padding: 40px 0;
    max-height: initial !important;

    .wrapper {
      width: 100%;

      @media (min-width: 768px) {
        width: 870px;
      }

      .youtube {
        margin-bottom: 0;
        height: 150px;
        padding: inherit;

        @media (min-width: 768px) {
          height: 450px;
        }

        img {
          width: 100%;
          object-fit: cover;
          top: 0;
        }
      }
    }


    .texto {
      color: #fff;
      border-top: 5px solid $laranja;
      padding-top: 10px;

      .detalhe {
        a {
          color: #fff;
        }
      }

      .titulo {
        font-family: $resBold;
        font-size: 22px;
        color: #fff;
        line-height: 130%;
        display: block;
      }

      .tags {
        a {
          &:hover {
            background: $laranja;
            color: #000;
          }
        }
      }
    }
  }

  &__listagem {
    .listagem-titulo {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      padding: 5px 0;

      span {
        font-family: $resBold;
        font-size: 14px;
      }
    }

    .int {
      .item {
        margin-bottom: 2rem;

        .youtube {
          margin-bottom: 0;
        }
      }
    }
  }
}