//Estilos usados em mais de uma página ou elemento
html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  margin-top: 0 !important;
}

body {
  -webkit-font-smoothing: antialiased;
  height: auto;
}

#wpadminbar {
  display: none !important;
}

a {
  text-decoration: none;
  color: #000;
}

.bg-blue {
  background: $azul !important;
}

.tns-nav {
  text-align: center;
  margin-top: 30px;

  button {
    width: 12px;
    height: 12px;
    background-color: #000;
    border: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-right: 7px;
    display: inline-block;

    &:last-child {
      margin-right: 0px;
    }

    &.tns-nav-active {
      background-color: #fff;
    }
  }
}